@function rem($px) {
  @return $px / 16px * 1rem;
}

@mixin boxes(
  $padding: rem(15px),
  $hasRaduis: 0,
  $bgColor: $neutral0,
  $color: $neutral500
) {
  @if $hasRaduis {
    border-radius: rem($raduis);
    overflow: hidden;
  }
  padding: $padding;
  color: $color;
  background-color: $bgColor;
}
