body {
  margin: 0;
  font-family: $popins-font;
  overflow-x: hidden;
  & > * {
    box-sizing: border-box;
  }
}
a {
  color: currentColor;
  text-decoration: none;
}

.rounded {
  border-radius: rem($raduis);
}

.underline {
  text-decoration: underline;
}

.login-container {
  height: calc(100vh - 92px);
}

.register-background {
  height: 100%;
  background: rgb(220, 130, 0);
  background: linear-gradient(
    90deg,
    rgba(220, 130, 0, 1) 0%,
    rgba(223, 115, 0, 1) 100%
  );
}

.separator {
  width: rem(100px);
  height: 3px;
  background-color: $neutral500;
  border-radius: rem(7px);
}

.banner {
  height: 100vh;
  .slider-item {
    width: 100vw;
  }
  .bg-1 {
    background-image: url(/assets/img/banner/Rome.jpg);
    background-size: cover;
  }
  .bg-2 {
    background-image: url(/assets/img/banner/New-York.jpg);
    background-size: cover;
  }
  .bg-3 {
    background-size: cover;

    background-image: url(/assets/img/banner/Paris.jpg);
  }
}
