body {
  font-family: $popins-font;
  overflow-x: hidden;
  & > * {
    box-sizing: border-box;
  }
}
a {
  color: currentColor;
  text-decoration: none;
}

.rounded {
  border-radius: rem($raduis);
}
