@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

$titlesSizes: rem(32px), rem(24px), rem(20px);
$titleWheight: 700, 600, 500;
$fontsSizes: rem(16px), rem(14px), rem(12px);

$popins-font: "Poppins", sans-serif;

.poppins-font {
  font-family: $popins-font;
}

p {
  font-family: $popins-font;
  font-size: nth($fontsSizes, 1);
}

small {
  font-family: $popins-font;
  font-size: rem(12px);
}

@for $i from 1 through length($titlesSizes) {
  h#{$i} {
    font-family: $popins-font;
    font-size: nth($titlesSizes, $i);
    font-weight: nth($titleWheight, $i);
  }
}

.title-underline {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: rem(10px);
    display: block;
    width: rem(40px);
    height: rem(10px);
    background-color: $primary500;
    margin-top: rem(8px);
  }
}
