//colors
$primary500: #e88011;
$primary400: #f38f1b;
$primary300: #ffb43d;
$primary200: #ffc059;
$primary100: #ffcf81;
$neutral200: #eeeeee;
$neutral100: #f6f6f6f6;
$neutral0: #fff;
$neutral500: #000;

$raduis: 7px;

//screen size
$sm: 480px;
$md: 768px;
$lg: 992px;
