$colors: (#e88011, #f38f1b, #ffb43d, #ffc059, #eeeeee, #fff, #000, #989898, #F6F6F6);
$colorsNames: (
  primary500,
  primary400,
  primary300,
  primary200,
  natural100,
  neutral0,
  neutral500,
  neutral100,
  natural200,
);

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  $colorName: nth($colorsNames, $i);
  .bg-#{$colorName} {
    background-color: $color;
  }
  .text-#{$colorName} {
    color: $color;
  }
}
