$colors: (
  #e88011,
  #f38f1b,
  #ffb43d,
  #ffc059,
  #ffcd7b,
  #000,
  #989898,
  #f6f6f6f6,
  #fff
);
$colorsNames: (
  primary500,
  primary400,
  primary300,
  primary200,
  primary100,
  neutral500,
  neutral200,
  neutral100,
  neutral0
);

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  $colorName: nth($colorsNames, $i);
  .bg-#{$colorName} {
    background-color: $color;
  }
  .text-#{$colorName} {
    color: $color;
  }
}
