$align-items: (flex-start, flex-end, center, baseline, stretch);
$align-items-name: (start, end, center, baseline, stretch);

$justify-content: (
  flex-start,
  flex-end,
  center,
  space-between,
  space-around,
  space-evenly
);
$justyfy-content-name: (start, end, center, between, around, evenly);

@for $i from 1 through length($align-items) {
  .align-#{nth($align-items-name, $i)} {
    align-items: nth($align-items, $i);
  }
  .align-self-#{nth($align-items-name, $i)} {
    align-self: nth($align-items, $i) !important;
  }
}

@for $i from 1 through length($justify-content) {
  .justify-#{nth($justyfy-content-name, $i)} {
    justify-content: nth($justify-content, $i);
  }
  .justify-self-#{nth($justyfy-content-name, $i)} {
    justify-self: nth($justify-content, $i);
  }
}
