.partner_banner {
    width: 100%;
    height: rem(270px);
    background-color: #f6f6f6;
}

.banner__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 rem(20px);
}

@media screen and (max-width: $md) {
    .partner_banner {
        height: auto;
        padding-top: rem(20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(20px);
    }
}