.button {
  display: inline-block;
  margin: 0;
  padding: rem(15px) rem(20px);
  background: $neutral100;

  outline: 0;
  font-size: rem(16px);
  font-weight: 400;
  cursor: pointer;
  border-radius: rem($raduis);

  transition: background-color 0.2s ease-in-out;

  &__icon {
    display: flex;
    align-items: center;
    .icon {
      margin-right: rem(10px);
      width: rem(30px);
      height: rem(20px);
    }
  }

  &:hover {
    background: $neutral200;
  }

  &__primary {
    color: $neutral0;
    background: $primary500;
    &:hover {
      background: $primary400;
    }
  }

  &__secondary {
    background: $neutral0;
    color: $neutral500;
    &:hover {
      background: $neutral100;
    }
  }
}
