pre {
  background: $neutral100;
  overflow-y: auto;
  & * {
    background: transparent;
  }
  code {
    display: block;
    margin: rem(-30px) 0;
  }
  xmp {
    margin: 0;
  }
}

.code {
  background: $neutral100;
  padding: 0 rem(5px);
  color: $primary500;
}
