$inputsBaseBorder: #989898;

.input-container {
  border: 1px solid $inputsBaseBorder;
  border-radius: 7px;
  display: flex;
  justify-content: left;
  padding: 15px 20px;
  width: 381px;
  box-sizing: content-box;
  overflow: hidden;

  &.active {
    box-shadow: inset 0px 0px 0px 2px opacify($color: $primary500, $amount: 0.8);
    border: 1px solid opacify($color: $primary500, $amount: 0.8);

    .input {
      color:  opacify($color: $primary500, $amount: 0.8);
    }

    .input-double-separator {
      box-shadow: 1px 0px 0px 0px  opacify($color: $primary500, $amount: 0.8), -1px 0px 0px 0px  opacify($color: $primary500, $amount: 0.8);
      border-left: 1px solid  opacify($color: $primary500, $amount: 0.8);
    }
  }

  .input {
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .input-double-separator {
    width: 0px;
    border-left: 1px solid $inputsBaseBorder;
    height: 70px;
    margin: -25px 0;
    padding-right: 20px;
  }

  .icon-left {
    margin-right: 10px;
  }

  .icon-right {
    margin-left: 10px;
  }
}
