.number {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;


    & span:first-child {
        font-size: rem(64px);
        font-weight: 700;
        white-space: nowrap;
        position: relative;
    
        &::after {
            position: absolute;
            right: rem(-52px);
            content: "|";
            color: $primary500;
        }
    }

    &-container {
        display: flex;
        align-items: space-around;
        justify-content: space-around;  
        height: 100%;
        width: 100%;
    }

}

@media screen and (max-width: $md) {
    .number-container {
        width: rem(100px);
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: rem(80px);
    }
}

.about-container {
    max-width: rem(980px);
    margin: 0 auto;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: rem(40px);
}