.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;

  .slider-swipe-track {
    height: 100%;
    display: flex;
  }
  .slider-item {
    flex: 0 0 auto;
    overflow: hidden;
    height: 100%;
    &__transition {
      transition: transform 0.5s ease-in-out;
    }
  }
  &__grabbing {
    cursor: grabbing;
  }
  .row {
    height: 100%;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: $neutral0;
    font-weight: 800;
    font-size: 10vw;

    letter-spacing: 0.12em;

    color: rgba(248, 248, 248, 0.69);
    backdrop-filter: blur(1.5px);
  }
}
